<%= provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'shared/light_section', name: @taxon.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <div class="panel panel-default">
            <div class="panel-heading">商品カテゴリー</div>
            <div class="panel-body">
              <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                <ul class="nav navbar-nav side-nav">
                  <% @taxonomies.each do |taxonomy| %>
                    <li>
                      <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy-<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
                      <ul id="taxonomy-<%= taxonomy.id %>" class="collapse collapseItem">
                        <% taxonomy.leaves.each do |taxon| %>
                          <li>
                            <%= link_to potepan_category_path(taxon.id) do %>
                              <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %> <span>(<%= taxon.all_products.count %>)</span>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <%= render "filter_by_color" %>
          <%= render "filter_by_size" %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render "sort" %>
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-sm-4 col-xs-12">
                <%= link_to potepan_product_path(product.id) do %>
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <%= image_tag product.display_image.attachment(:product) %>
                    </div>
                    <div class="productCaption clearfix">
                      <h5><%= product.name %></h5>
                      <h3><%= product.display_price %></h3>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%= render "pertners_logo_slider" %>
<%= render "shared/login_modal" %>
<%= render "shared/sign_up_modal" %>
